* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main{
  width: 100%;
  height: 100%;
  /* background: #000; */
}

/* temp page */
#temp {
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.fullImgBox {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("images/burger-pattern_836210-1.avif");
  opacity: 0.06;
}

.bigcircle {
  width: 60vw;
  height: 65vw;
  border-radius: 50%;
  position: absolute;
  scale: 1.4;
  top: -100%;
  right: 0%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.134) inset;
  overflow: hidden;
  background: rgb(255, 192, 2);
}

.tempright {
  width: 50%;
  height: 100%;
  /* background: rgb(255, 33, 188); */
}

.tempbox {
  position: absolute;
  bottom: -49%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 25vw;
  scale: 1.3;
  height: 26vw;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  border: 0.13vw dotted rgba(0, 0, 0, 0.233);
}

.stripe {
  position: absolute;
  width: 116%;
  height: 5vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stripe img {

  height: 5vw;
  /* background: red; */
}

.strImg {
  background: #000;
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  overflow: hidden;
}

.strImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.str2 {
  transform: translate(-50%, -50%) rotate(90deg);
  /* background: white; */
}

.str3 {
  transform: translate(-50%, -50%) rotate(135deg);
  /* background: green; */
}

.str4 {
  transform: translate(-50%, -50%) rotate(180deg);
  /* background: blue; */
}

.str5 {
  transform: translate(-50%, -50%) rotate(205deg);
  background: blue;
}

.centerimg {
  position: absolute;
  height: 13.3vw;
  top: 65%;
  width: 13.3vw;
  right: 12%;
  scale: 1.6;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 50%;
}

.centerimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0.67vw);
}

.buttons {
  width: 46vw;
  height: 6.67vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 20%;
  right: -16%;
  transform: translate(-50%, -50%);
  z-index: 8;
}

.rightbtn,
.leftbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  width: 4vw;
  height: 4vw;
  transition: scale 0.3s ease-in-out;
}

.rightbtn:active,
.leftbtn:active {
  scale: 0.8;
}

.leftbtn {
  border-radius: 50%;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 0.67vw rgba(0, 0, 0, 0.313);
}

.rightbtn {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 0.67vw rgba(0, 0, 0, 0.313);
  border-radius: 50%;
}

.templeft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 3.33vw;
  justify-content: center;
  padding-top: 10vw;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.temp-good-food-text{
  position: absolute;
  top: 20%;
  left: 10%;
}

.temp-good-food-text h1{
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 3vw;
}

.templeftTexts {
  width: 100%;
}

.templeftTexts h4 {
  font-size: 2.5vw;
  padding-left: 1.33vw;
  text-align: left;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
}

.temp-text1 h4:nth-child(1) {
  top: 0;
}

.temp-text2 {
  height: 10vw;
  padding: 0 0.67vw;
  margin: 0 auto;
  position: relative;
  min-width: 50%;
  overflow: hidden;
}

.temp-text1 {
  height: 2.67vw;
  padding: 0 0.67vw;
  margin: 0 auto;
  position: relative;
  min-width: 50%;
  overflow: hidden;
}

.templeftTexts h1 {
  z-index: 5;
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 9vw;
  font-size: 9vw;
  color: orange;
  text-shadow: 0 0 0.13vw black;
  transition: all 0.3s ease-in-out;
  word-spacing: -1.53vw;
  text-align: left;
  letter-spacing: -0.13vw;
  text-transform: uppercase;
  font-weight: 900;
}

.temp-text2 h1:nth-child(1) {
  top: 0;
}

/* temp page responsive */

@media screen and (max-width:1441px) {
  .centerimg {
    height: 20.83vw;
    width: 20.83vw;
    right: 12%;
  }
}

@media screen and (max-width:1025px) {
  .centerimg {
    height: 16.67vw;
    width: 16.67vw;
    right: 16%;
    top: 70%;
  }

  .bigcircle {
    width: 45.83vw;
    height: 32.64vw;
    top: -20%;
  }

  .tempbox {
    scale: 1;
    bottom: -80%;
    left: 50%;
  }

  .buttons {
    width: 39.58vw;
    right: -25%;
    bottom: 10%;
  }
}

@media screen and (max-width:769px) {
  .centerimg {
    height: 16.67vw;
    width: 16.67vw;
    right: 24%;
    top: 50%;
  }

  .bigcircle {
    width: 45.83vw;
    height: 32.64vw;
    top: -40%;
  }

  .tempbox {
    scale: 0.9;
    bottom: -80%;
    left: 45%;
  }

  .buttons {
    width: 36.11vw;
    right: -23%;
    top: 60%;
  }

  .templeftTexts {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .temp-text2 {
    height: 5.33vw;
  }
  .temp-text2 h1 {
    width: 100%;
    text-align: center;
  }
  .temp-text1 h4 {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width:426px) {
  .centerimg {
    height: 9.33vw;
    width: 9.33vw;
    right: 17%;
    top: 50%;
  }

  .bigcircle {
    width: 33.33vw;
    height: 33.33vw;
    top: -40%;
    right: -10%;
  }

  .tempbox {
    scale: 0.8;
    bottom: -80%;
    left: 40%;
  }

  .buttons {
    width: 26.67vw;
    right: -44%;
    top: 60%;
  }

  .templeftTexts {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .rightbtn,
  .leftbtn {
    width: 3.33vw;
    height: 3.33vw;
  }

  .templeftTexts h4 {
    font-size: 2.67vw;
  }

  .templeftTexts h1 {
    line-height: 10vw;
    font-size: 12vw;
  }
}

@media screen and (max-width:376px) {
  .tempbox {
    scale: 0.7;
    bottom: -70%;
    left: 40%;
  }

  .centerimg {
    height: 8vw;
    width: 8vw;
    right: 17%;
    top: 50%;
  }

  .buttons {
    width: 23.33vw;
    right: -44%;
    top: 60%;
  }
}

@media screen and (max-width:321px) {
  .tempbox {
    scale: 0.66;
    bottom: -70%;
    left: 43%;
  }

  .centerimg {
    height: 6.67vw;
    width: 6.67vw;
    right: 17%;
    top: 50%;
  }

  .buttons {
    width: 20vw;
    right: -44%;
    top: 60%;
  }

  .templeftTexts h4 {
    font-size: 4.67vw;
  }

  .templeftTexts h1 {
    line-height: 10vw;
    font-size: 14.67vw;
  }
}
