/* video page */
/* @media (max-width:425px) {
    .video-section {
        height: 45vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .video-div {
        height: 100%;
        width: 100%;
    }

    .video video {
        border-radius: 20px;
    }
}

@media (max-width:768px) {
    .video-section {
        height: 70vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:1024px) {
    .video-section {
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
} */

/* review page */
/* 
@media (max-width:1024px) {
    #review>h1 {
        font-size: 5vw;
    }

    .reviewcard {
        padding: 0 2rem;
        width: 85%;
        height: 55%;
    }
}

@media (max-width:768px) {
    #review {
        height: 100vh;
        width: 100%;
    }

    .reviewcard {
        width: 95%;
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .reviewsButtons {
        position: absolute;
        bottom: 0;
        height: 5vh;
    }

    .reviewCardLeft img {
        border-radius: 2rem;
        width: 90vw;
        height: 45vw;
        object-fit: cover;
        object-position: center;
    }

}

@media (max-width:425px) {
    .reviewcard h1 {
        font-size: 7vw;
    }

    .reviewcard p {
        font-size: 4vw;
    }

    .reviewcard h2 {
        font-size: 6vw;
    }

    .reviewCardRight {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .reviewCardLeft img {
        height: 70vw;
        width: 86vw;
    }

    #review>h1 {
        font-size: 2.5rem;
    }
}

 */


/* footer */

@media (max-width:1024px) {
    #footer {
        height: 100vh;
    }

    .quick-links h1 {
        font-size: 2rem;
    }

    .quick-links p {
        font-size: 1.4rem;
    }

    .available-on h1 {
        font-size: 2rem;
    }

    .available-on p {
        font-size: 1.4rem;
    }

    .connect-with h1 {
        font-size: 2rem;
    }

    .connect-with p {
        font-size: 1.4rem;
    }

    .footer-anim {
        height: 30vh;
        width: 100%;
    }

    .footer-anim h1 {
        text-wrap: nowrap;
    }

    .footer-anim h1 span {
        font-size: 9vw;
    }


    .copyright {
        width: 100vw;
    }

    .copyright p {
        font-size: 1vw;
    }

}

@media (max-width:768px) {
    #footer {
        height: 100vh;
    }

    .footer-right-content {
        display: flex;
        gap: 1.3rem;
    }

    .quick-links h1 {
        font-size: 4.8vw;
    }

    .quick-links p {
        font-size: 2.5vw;
    }

    .available-on h1 {
        font-size: 4.8vw;
    }

    .available-on p {
        font-size: 2.5vw;
    }

    .connect-with h1 {
        font-size: 4.8vw;
    }

    .connect-with p {
        font-size: 2.5vw;
    }

    .footer-anim {
        height: 30vh;
        width: 100%;
        position: relative;
        top: 0;
    }

    .footer-anim h1 {
        font-size: 9vw;
        text-wrap: nowrap;
    }

    .end-line {
        position: relative;
        top: 0;
    }

    .copyright {
        position: relative;
        top: 0;
    }

    .copyright p {
        font-size: 3vw;
    }
}

@media (max-width:600px) {
    #footer {
        height: 100vh;
    }

    .footer-circle-logo img {
        height: 6rem;
    }

    .footer-right-content {
        display: flex;
        gap: 1.6rem;
        position: relative;
        right: 44vw;
    }

    .quick-links h1 {
        font-size: 6vw;
        text-wrap: nowrap;
    }

    .quick-links p {
        font-size: 4vw;
    }

    .available-on h1 {
        font-size: 6vw;
        text-wrap: nowrap;
    }

    .available-on p {
        font-size: 4vw;
    }

    .connect-with h1 {
        font-size: 6vw;
        text-wrap: nowrap;
    }

    .connect-with p {
        font-size: 4vw;
    }

    .footer-anim {
        height: 30vh;
        width: 100%;
        position: relative;
        top: 0;
    }

    .footer-anim h1 {
        font-size: 9vw;
        text-wrap: nowrap;
    }

    .end-line {
        position: relative;
        top: 0;
    }

    #footer .copyright p {
        font-size: 4vw;
    }
}

@media (max-width:425px) {
    #footer {
        height: 100vh;
    }

    .footer-circle-logo img {
        height: 5rem;
    }

    .footer-right-content {
        gap: 2rem;
        position: relative;
        right: 41vw;
    }

    .quick-links h1 {
        font-size: 7.5vw;
        text-wrap: wrap;
    }

    .quick-links p {
        font-size: 4.5vw;
    }

    .available-on h1 {
        font-size: 7.5vw;
        text-wrap: wrap;
    }

    .available-on p {
        font-size: 4.5vw;
    }

    .connect-with h1 {
        font-size: 7.5vw;
        text-wrap: wrap;
    }

    .connect-with p {
        font-size: 4.5vw;
    }

    #footer .copyright p {
        font-size: 4vw;
    }
}


@media (max-width:320px) {
    #footer {
        min-height: 100vh;
    }

    .footer-circle-logo img {
        height: 5rem;
    }

    .footer-right-content {
        width: 100%;
        right: 0;
    }

    .quick-links {
        position: relative;
        right: 4rem;
        top: -1rem;
    }

    .quick-links h1 {
        font-size: 8.5vw;
    }

    .quick-links p {
        font-size: 5.5vw;
        text-wrap: nowrap;
    }

    .connect-with {
        position: relative;
        top: -1rem;
    }

    .available-on {
        position: relative;
        top: 10rem;
        right: 4rem;
    }

    .available-on h1 {
        font-size: 8.5vw;
        text-wrap: wrap;
    }

    .available-on p {
        font-size: 5.5vw;
    }

    .connect-with h1 {
        font-size: 8.5vw;
        text-wrap: wrap;
    }

    .connect-with p {
        font-size: 5.5vw;
    }

    .footer-anim {
        height: 30vh;
        width: 100%;
        position: relative;
        top: 2rem;
    }

    .footer-anim h1 {
        font-size: 9vw;
        text-wrap: nowrap;
    }


    .copyright {
        width: 100vw;
    }

    .copyright p {
        text-wrap: nowrap;
    }
}